* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #023eba;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 100px;
}

.button__email {
  border: 2px solid #023eba;
  padding: 17px 22px;
  text-transform: uppercase;
  font-size: 12px;
  color: #023eba;
  background-color: #fff;
  text-decoration: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button__email a {
  text-decoration: none;
}

.button {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #023eba;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button-fitting {
  padding: 10px;
  color: #023eba;
  background-color: #fff;
}

.button-add {
  padding: 10px;
  background-color: #034fec;
  color: #ffffff;
}

.button-like {
  padding: 0;
  width: 30px;
}

.button-like img {
  background-color: #023eba;
  width: 30px;
  height: 30px;
}

.bg-secondary {
  background-color: #ecece9;
}

.input {
  height: 80px;
  border: 0.1px solid #dddddd;
  padding-left: 30px;
}

.input:focus {
  outline: none;
  border: 1px solid blue;
  -webkit-box-shadow: 1px 1px 1px 0px blue;
          box-shadow: 1px 1px 1px 0px blue;
}

.checkbox {
  display: none;
}

.checkbox:checked + label:before {
  background-color: #023eba;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 42px;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .button__email {
    font-size: 12px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar__about, .navbar__process, .navbar__portfolio {
  display: block;
  font-size: 19px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.navbar__about a, .navbar__process a, .navbar__portfolio a {
  text-decoration: none;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo__description {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #00d4b8;
}

@media (max-width: 991px) {
  .navbar__about, .navbar__process, .navbar__portfolio {
    display: none;
  }
}

.hero {
  background: #f1f1f1 url("../img/hero/heroo-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;
}

.hero__titel {
  font-size: 30px;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  font-size: 30px;
  margin-bottom: 67px;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.offer {
  padding: 129px 0;
}

.offer-block {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 81px;
  margin-top: -200px;
}

.offer__title {
  font-size: 25px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 20px;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form__input {
  width: 100%;
  border-right-width: 0px;
}

.form__input:last-child {
  border-right-width: 1px;
}

.form__button {
  height: 80px;
  width: 100%;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px;
  }
}

@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #ffffff;
    padding: 40px;
  }
  .offer__title {
    font-size: 18px;
  }
  .offer__subtitle {
    font-size: 15px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .form__input {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  __row-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  __checkbox {
    margin-bottom: 20px;
  }
}

.catalog {
  background-color: #ecece9;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  margin-bottom: 30px;
}

.catalog-card {
  max-width: 570px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  border-style: 7px 5px 21px rgba(0, 0, 0, 0.1);
}

.catalog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-card__button {
  font-size: 11px;
  height: 30px;
  border: none;
  text-transform: uppercase;
}

.catalog-card__tag {
  position: absolute;
  padding: 10px;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(2, 62, 186, 0.6);
}

.catalog-card__image {
  display: block;
}

.catalog__link {
  text-align: center;
  margin-top: 60px;
}

@media (max-width: 1199px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-card {
    max-width: 470px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.step {
  text-align: center;
  position: relative;
}

.step__title {
  font-size: 18px;
}

.step::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  top: 31%;
  right: -104%;
}

.step:last-child:before {
  display: none;
}

.step__text {
  max-width: 160px;
  margin: auto;
  margin-bottom: 30px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .step {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .step::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .step {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.before-slider-wrap {
  max-width: 640px;
  margin: auto;
  position: relative;
}

.before-slider-arrows {
  width: 100%;
  z-index: -1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.before-slider__dots {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.before-slider__dots li {
  width: 10px;
  height: 10px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: 10px;
  margin: 5px;
}

.before-slider__dots li.slick-active {
  background-color: #5b7fda;
}

.before-slider__dots button {
  display: none;
}

.before .arrow {
  font-size: 29px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #023eba;
}

.before .arrow:focus {
  outline: none;
}

.before .arrow-left {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

.before .arrow-right {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.contacts {
  background-color: #f6f7f9;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-block__item {
  text-align: center;
}

.contacts__img {
  margin-bottom: 25px;
}

.contacts__text {
  font-size: 16px;
}

.contacts__link {
  text-decoration: none;
  color: #023eba;
}

.contacts__address {
  font-style: normal;
}

@media (max-width: 768px) {
  .contacts-block__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .contacts__address {
    max-width: 200px;
    margin: auto;
  }
}

.footer {
  padding: 40px 0;
  background-color: #5c5656;
  color: #ffffff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer__title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer-copirate {
  color: #767676;
}

.footer__pay-logo {
  margin: 15px;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  font-size: 20px;
  display: block;
  margin-bottom: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__mail {
  display: block;
  margin-bottom: 20px;
}

.footer-social__link {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__contacts {
    margin-top: 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */